*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body layout login*/
.bodyloginpage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
/*outside body layout login*/
  .bodyloginpage .maincontainer {
    background-color: #ffffff;
    width: 1358px;
    height: 642px;
    position: relative;
  }

/*background layout login*/
  .bodyloginpage .bgcontainer {
    position: fixed;
    width: 640px;
    height: 642px;
    left: 0;
    top: 0;
    background-image: url(https://github.com/gracelajohnmark/Sports_Culture_Arts/blob/445c8a15a86abbc49aeffc2bb7655b2d593f07fa/img/Background.png?raw=true);
    background-size: cover;
    background-position: 50% 50%;
  }

/*inside of background container layout login*/
  .bodyloginpage .insidebgcontainer {
    position: relative;
    width: 351px;
    height: 294px;
    top: 90px;
    left: 136px;
  }

/*SKC logo inside of background container layout login*/
  .bodyloginpage .skclogo {
    position: relative;
    width: 120px;
    height: 120px;
    top: 0;
    left: 112px;
    object-fit: cover;
  }

/*Text 1 layout inside of background container login*/
  .bodyloginpage .welcome-to-sports {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Inter", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 37px;
    padding-block: 32px;
  }

/*var root styling global in login*/
  :root {
    --primary-color: #5faaff;
    --font-size-medium: 16px;
  }

/*button 1 inside of background container layout login*/
  .bodyloginpage .return-to-homepage{
    display: flex;
    width: 180px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 390px;
    left: 86px;
    border-radius: 12px;
    border: hidden;
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    background-color: var(--primary-color);
    font-size: var(--font-size-medium);
    cursor: pointer;
  }

/*hovering effect for button 1 layout login*/
  .bodyloginpage .return-to-homepage:hover{
      background-color: #3e97ff;
  }

/*login form alignment layout login*/
  .bodyloginpage #LoginForm{
    position: fixed;
    top: 44px;
    left: 57.8%;
    right: 0px;
  }

/*Text 2 inside of login form layout login*/
  .bodyloginpage h1 {
    position: fixed;
    width: 112px;
    margin-top: 66px;
    right: 296px;
    font-family: "Inter", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

/*login form layout login*/
  .bodyloginpage .formcontainer {
    position: absolute;
    z-index: -1;
    width: 444px;
    height: 560px;
    background-color: #b9ecff;
    border-radius: 20px;
    right: 128px;
  }

/*username container layout login*/
  .bodyloginpage .input-groupStudent_id {
    width: 305px;
    height: 88px;
    position: fixed;
    top: 228px;
    right: 188px;
    z-index: 0;
  }

/*username label inside username container layout login*/
  .bodyloginpage .user-name {
    position: absolute;
    align-self: stretch;
    height: 19px;
    top: -44px;
    bottom: 0px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000b2;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    left: -12px;
  }

/*username icon inside username container layout login*/
  .bodyloginpage .studentlogo {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 39px;
    top: 12px;
    object-fit: cover;
    
  }

/*username input inside username container layout login*/
  .bodyloginpage .input-student-id {
    position: absolute;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    display: flex;
    height: 38px;
    align-items: center;
    gap: 18px;
    padding: 0px 10px 0px 46px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #808080;
    z-index: -2;
    top: -8px;
    right: 12px;
  }

/*password container layout login*/
  .bodyloginpage .input-groupPassword {
    position: fixed;
    width: 304px;
    height: 88px;
    top: 290px;
    right: 200px;
    z-index: 1;
  }

/*password label inside password container layout login*/  
  .bodyloginpage .pass-word {
    position: relative;
    align-self: stretch;
    height: 19px;
    margin-top: -1px;
    bottom: 0px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000b2;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    left: 0px;
  }

/*password icon inside password container layout login*/
  .bodyloginpage .lockicon {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 39px;
    left: 12px;
    object-fit: cover;
    opacity: 0.5;
  }

/*password input inside password container layout login*/
  .bodyloginpage .input-password {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    display: flex;
    height: 38px;
    align-items: center;
    gap: 18px;
    padding: 0px 10px 0px 42px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #808080;
    z-index: -2;
    top: 10px;
    right: 0px;
  }

/*button 2 inside of login form layout login*/
  .bodyloginpage .continue {
    display: flex;
    width: 140px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: fixed;
    top: 446px;
    right: 280px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    background-color: var(--primary-color);
    font-size: var(--font-size-medium);
    border-radius: 12px;
    border: hidden;
    color: #ffffff;
    cursor: pointer;
  }

/*hovering effect for button 2 layout login*/
  .bodyloginpage .continue:hover{
    background-color: #3e97ff;
  }

/*forgot pass inside of login form layout login*/
  .bodyloginpage .forgotpass {
    position: absolute;
    width: 116px;
    top: 347px;
    right: 370px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #003bff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }

/*body layout login*/
  .bodyloginpage .fb-logo {
    position: fixed;
    width: 34px;
    height: 34px;
    top: 516px;
    right: 190px;
    object-fit: cover;
  }
  
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,600,800");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
  