@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}

:root {
  --primary-color-background: #ffffff;
  --secondary-color-background: #6dce33;
  --third-color-text: #000000;
}

body {
  display: flex;
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;

}

#nav-group {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color-background);
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
}

.skc {
  width: 50px;
  height: 50px;
  top: 0px;
  left: 12px;
  object-fit: cover;
  position: relative;
}

#nav-group h4 {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 76px;
  margin-top: 4px;

}

.Logoname-1 {
  width: 171px;
  top: 14px;
  left: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #950608;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

.Logoname-2 {
  width: 171px;
  top: 34px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  text-align: center;
  position: relative;
  margin-left: 4px;
}

#nav-group ul li {
  position: absolute;
  display: flex;
  left: 246px;
  top: 36px;
}

.homepage {
  left: 123px;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(15.73, 235.88, 224.87, 0.5) 53.5%, rgba(0, 34, 255, 0.5) 100%);
  gap: 10px;
  padding: 10px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 4px solid black;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.Sports-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 13px;
  left: 252px;
  gap: 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.athlete-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 13px;
  gap: 10px;
  padding: 10px;
  position: relative;
  left: 474px;
  cursor: pointer;
}

.homepage:hover,
.athlete-menu:hover,
.Sports-menu:hover{
  background: linear-gradient(180deg, rgba(26, 236, 226, 0.356) 53.5%, rgba(0, 34, 255, 0.329) 100%);
  font-weight: 800;
  color: #000000;
  border-radius: 8px;
  border-bottom: 4px solid black;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.notification-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 36px;
  right: 158px;
  cursor: pointer;
}

.message-icon {
  position: relative;
  width: 24px;
  height: 22px;
  top: 12px;
  right: 106px;
  cursor: pointer;
}

.user-login-icon {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 30px;
  right: 50px;
  cursor: pointer;
  border: solid;
  border-radius: 16px;
  opacity: 0.6;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 800;
}

.sub-menu-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  top: 70px;
  right: 40px;
  border-radius: 10px;
  background-color: #d3d3d3;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s;
  z-index: 10;
}

.sub-menu-wrap.openuser-menu {
  max-height: 220px;
}

.sub-menu-wrap .username{
  font-family: "Poppins", sans-serif;
  width: 50px;
  height: 50px;
  top: 16px;
  left: 16px;
  position: relative;
  border: solid;
  border-radius: 30px;
  text-align: center;
  padding-top: 14px;
  font-size: 18px;
  font-weight: 800;
}

.sub-menu-wrap .userinfo-fullname {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  top: -30px;
  left: 72px;
  text-align: left;
  position: relative;
}

.sub-menu-wrap .userinfo-id {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  top: -20px;
  left: 72px;
  position: relative;
}

.sub-menu-wrap .userinfo-type {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #003bff;
  font-size: 14px;
  top: -34px;
  left: 140px;
  position: relative;
}

.sub-menu {
  width: 220px;
  height: 220px;
}

.sub-menu hr {
  position: relative;
  height: 1px;
  width: 180px;
  left: 0px;
  bottom: 24px;
}

.user-info {
  position: relative;
  white-space: nowrap;
}

.sub-menu-link {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  bottom: 90px;
  width: 100%;
  height: 30px;
  top: -22px
}


.sub-menu-link .icon-container {
  position: relative;
  align-items: center;
  left: 24px;
}

.sub-menu-link p {
  position: relative;
  width: 84%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  padding-left: 36px;
  transition: transform 0.5s;
}

.sub-menu-link span {
  font-size: 22px;
  font-weight: 900;
  color: #000000;
  transition: transform 0.5s;
  position: relative;
  right: 22px;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 800;
}

/*side navigation bar layout*/
#side-nav-group {
  display: flex;
  flex-direction: column;
  top: 70px;
  background-color: var(--secondary-color-background);
  left: 0;
  max-width: 66px;
  height: 100vh;
  padding-block: 8px;
  border-block-start: 2px dashed black;
  border-right: 1px solid rgb(197, 197, 197);
  box-sizing: border-box;
  position: fixed;
  transition: max-width 300ms ease-in-out;

  .sidebar-logo,
  .notogglemenu,
  .notogglemenu1,
  .backside,
  .Skcforms,
  .sub-menus span {
    visibility: hidden;
    opacity: 0;
  }

  .sidebar-logo{
    position: relative;
    left: -36px;
    top:8px;
    white-space: nowrap;
  }

  .notogglemenu{
    position: relative;
    left: -130px;
    top:0px;
  }

  .notogglemenu1{
    position: relative;
    left: -130px;
    top:0px;
  }
  
  .backside{
    position: absolute;
    top: 22px;
    left: -20px;
  }

  .sub-menus{
    position: relative;
    top:32px;
    left: 0px;
  }

  .Skcforms{
    position: relative;
    left: -144px;
    top:10px;
  }

  .dropdown-btn{
    position: absolute;
    left: 0px;
    top:92px;
    width: 100%;
    padding-inline: 32px;
    padding-block: 10px;
  }

  .menu-skcform{
    position: relative;
    left: -12px;
  }

  .skcform-dropdown {
    visibility: visible;
    position: absolute;
    transition: left 0.3s ease-in-out;
    left: 44px;
    top: 18px;
  }
  .sub-menus li {
    visibility: visible;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 16px;
    top: 12px;
    left: 0px;
  }

  .menu-personal{
    position: relative;
    left: 0px;
    top:0px;
  }
  .sub-menus .personal-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: .6em;
    left: 0px;
    top:4px;
  }

  .menu-members{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .member-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: 10px;
    left: 0px;
    top:4px;
  }

  .menu-varsity{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .varsity-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: 10px;
    left: 0px;
    top:4px;
  }

  .menu-athlete{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .athlete-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: 10px;
    left: 0px;
    top:4px;
  }
  .menu-application{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .application-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: 10px;
    left: 0px;
    top:4px;
  }

  .menu-schedule{
    position: relative;
    top: 0px;
    left: 0px;
  }
  .menu-schedule-container{
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 22px;
    border-radius: 10px;
    top:-8px;
    left:0px;
  }
  .menu-report{
    position: relative;
    top: 0px;
    left: 20px;
  }
  .menu-report-container{
    position: relative;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-inline: 0px;
    left: 0px;
    top: 34px;
    border-radius: 10px;
  }
  #sidetoggle-btn{
    position: relative;
    padding-bottom: 8px;
    padding-top: 20px;
    padding-inline: 23px;
    border-radius: 12px;
    top:-8px;
    left:-1px;
  }
  .menu-icon{
    visibility: visible;
    position: relative;
    left: 0px;
    top:0px;
  }
}

#side-nav-group.open {
  padding-inline: 20px;
  max-width: 274px;

  .notogglemenu,
  .notogglemenu1,
  .Skcforms,
  .skcform-dropdown,
  #sidetoggle-btn .backside,
  .sub-menus span {
    visibility: visible;
    opacity: 1;
  }

  #sidetoggle-btn{
    visibility: visible;
    position: relative;
    left: -300px;
    top:0px;
  }

  .sidebar-logo {
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: 0px;
    top:10px;
    white-space: nowrap;
  }

  #sidetoggle-btn .backside {
    visibility: visible;
    opacity: 1;
      position: absolute;
      padding-inline: 10px;
      padding-block: 10px;
      border-radius: .9em;
      top: 6px;
      left: 340px;
  }
  .sub-menus{
    position: relative;
    top: 32px;
    left: -20px;
    width: 274px;
  }
  .menu-schedule-container{
    position: relative;
    top:-8px;
    left:-20px;
    width: 274px;
  }
  .notogglemenu{
    position: absolute;
    left: 56px;
    top: 14px;
  }

  .menu-report-container{
    position: relative;
    top: 34px;
    left: -20px;
    width: 274px;
  }

  .notogglemenu1{
    position: relative;
    left: 20px;
    top: 0px;
  }

  .dropdown-btn{
    position: absolute;
    top:92px;
    left: 0px;
    padding-inline: 22px;
    padding-block: 10px;
  }
  .Skcforms{
    position: relative;
    top:0px;
    left: -2px;
  }
  .menu-skcform{
    position: relative;
    left: -2px;
  }
  .skcform-dropdown{
    position: absolute;
    left: 238px;
    transition: left 200ms ease-in-out;
    top: 18px;
  }
  .menu-personal{
    position: relative;
    left: 0px;
    top:0px;
  }
  
  .sub-menus .personal-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }

  .menu-members{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .member-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }

  .menu-varsity{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .varsity-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }

  .menu-athlete{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .athlete-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }
  .menu-application{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .application-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }
  .personal-span,
  .member-span,
  .varsity-span,
  .athlete-span,
  .application-span{
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: opacity 700ms ease-in-out;
    
  }
}

#side-nav-group.close {
  max-width: 66px;
  transition: max-width 400ms ease-in-out;
}

#side-nav-group>ul>li:first-child {
  display: flex;
  justify-content: flex-end;
  position: relative;

  .sidebar-logo {
    font-weight: 600;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding-left: .8em;
    padding-top: .1em;
    margin-bottom: 14px;
  }
  .menu-icon{
    position: relative;
    left: 0px;
    top:0px;
  }
}
  
.menu-schedule,
.menu-report,
.menu-athlete,
.menu-personal,
.menu-member,
.menu-varsity{
  width: 22px;
  height: 22px;
}

.menu-icon {
  width: 20px;
  height: 18px;
  position: relative;
}

.menu-skcform{
  width: 20px;
  height: 22px;
}


#side-nav-group a,
#side-nav-group .dropdown-btn, 
#side-nav-group .sideformicon {
  color: #000000;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
}

#side-nav-group img {
  flex-shrink: 1;
  fill: #000000;
}

#side-nav-group a span,
#side-nav-group .dropdown-btn span {
  flex-grow: 0;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#side-nav-group .sub-menus .personal-datamenu:hover,
#side-nav-group .sub-menus .member-datamenu:hover,
#side-nav-group .sub-menus .varsity-datamenu:hover,
#side-nav-group .sub-menus .athlete-datamenu:hover,
#side-nav-group .sub-menus .application-datamenu:hover,
#side-nav-group .menu-schedule-container:hover,
#sidetoggle-btn:hover,
#sidetoggle-btn .backside:hover,
#side-nav-group .dropdown-btn:hover,
#side-nav-group .menu-report-container:hover {
  font-weight: 800;
  background-color: #60af72;
  z-index: 1;
}

#side-nav-group .sub-menus {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid 300ms ease-in-out;
  >div {
    overflow: hidden;
  }
}

#side-nav-group .sub-menus.show {
  grid-template-rows: 1fr;
}

#side-nav-group .rotate img:last-child {
  rotate: 180deg;
}

#sidetoggle-btn {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 400ms ease;
}

#side-nav-group.close+main {
  max-width: 66px;
  position: relative;
  margin-left: -120px;
  transition: margin-left 400ms ease-in-out;
}

main {
  position: relative;
  padding-left: min(20px, 7%);
  z-index: -1;
  flex-grow: 1;
  /* Allow main to grow and fill the space */
  margin-left: -120px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.create_container{
  position: relative;
  width: 1220px;
  height: 490px;
  top: 34px;
  left: 84px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px; /* Set a fixed width for the modal */
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #d9534f; /* Error red color */
}

.modal-content p {
  margin: 20px 0;
  font-size: 16px;
  color: #555;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content .success{
  margin-top: 0;
  font-size: 24px;
  color: #28a745; /* Green color for success */
}

/* Success Modal Text */
.modal-content #success-message {
  margin: 20px 0;
  font-size: 16px;
  color: #555; /* Neutral text color */
}

/* Success Modal Button */
.modal-content .oksuccess {
  background-color: #28a745; /* Green button */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.modal-content .oksuccess:hover {
  background-color: #218838; /* Darker green on hover */
}

.Skc_create{
  background-color: #007bff;
  position: relative;
  padding: 20px 20px;
  display: flex;
  width: 1220px;
  left: 0px;
  top:  0px;
  font-size: 22px;
  font-weight: 800;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  font-family: "Inter", Helvetica;
}

.Skc_signup{
  position: relative;
  left: 420px;
  top: -80px;
  font-size: 22px;
  font-weight: 800;
  font-family: "Inter", Helvetica;
  text-align: center;
}

.create_container form{
  position: relative;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
  width:50%;
}

.label_student_id{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  font-weight: 600;
  top:74px;
  left: 50px;
}

#student_id{
  position: relative;
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  font-weight: 600;
  width: 50%;
  height: 36px;
  left: -100px;
  top:68px;

}

.label_lastname{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  font-weight: 600;
  top: 26px;
  left: 400px;
}

#lastname{
  position: relative;
  grid-column: 2;
  grid-row: 2;
  font-size: 14px;
  font-weight: 600;
  width: 70%;
  top: 22px;
  left: 240px;
}

.label_firstname{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  font-weight: 600;
  top: 26px;
  left: 800px;
}

#firstname{
  position: relative;
  grid-column: 2;
  grid-row: 2;
  font-size: 14px;
  font-weight: 600;
  width: 70%;
  top: 22px;
  left: 640px;
}

.label_address{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  font-weight: 600;
  top: 150px;
  left: 50px;
}

#address{
  position: relative;
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  font-weight: 600;
  width: 90%;
  top: 146px;
  left: -138px;
}

.label_fullname{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  font-weight: 600;
  top: 104px;
  left: 460px;
}

#fullname{
  position: relative;
  grid-column: 2;
  grid-row: 2;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  top: 100px;
  left: 300px;
}

.label_usertype{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  font-weight: 600;
  top: 104px;
  left: 856px;
}

#usertype{
  position: relative;
  grid-column: 2;
  grid-row: 2;
  font-size: 14px;
  font-weight: 600;
  width: 50%;
  top: 100px;
  left: 696px;
}

.label_email_address{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  font-weight: 600;
  top: 228px;
  left: 50px;
}

#email_address{
  position: relative;
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  font-weight: 600;
  width: 70%;
  top: 224px;
  left: -80px;
}

.label_mobile_number{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  font-weight: 600;
  top: 184px;
  left: 440px;
}

#mobile_number{
  position: relative;
  grid-column: 2;
  grid-row: 2;
  font-size: 14px;
  font-weight: 600;
  width: 60%;
  top: 180px;
  left: 320px;
}

.label_password{
  position: relative;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  font-weight: 600;
  top: 184px;
  left: 820px;
}

#pass{
  position: relative;
  grid-column: 2;
  grid-row: 2;
  font-size: 14px;
  font-weight: 600;
  width: 63%;
  top: 180px;
  left: 660px;
}

.buttonsubmit{
  position: relative;
  grid-column: 2;
  grid-row: 2;
  top: 276px;
  left: 75%;
  width: 40%;
  border-radius: 12px;
  background-color: #4CAF50;
  border: none;
}

.info-tooltip-address {
  display: inline-block;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  top: -96px;
  left: 414px;
}

.info-tooltip-address:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.info-tooltip-address:hover::before {
  content: '';
  position: absolute;
  bottom: 115%; /* Position right above the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  z-index: 1;
}

.info-tooltip-fullname {
  display: inline-block;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  top: -168px;
  left: 820px;
}

.info-tooltip-fullname:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.info-tooltip-fullname:hover::before {
  content: '';
  position: absolute;
  bottom: 115%; /* Position right above the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  z-index: 1;
}

.info-tooltip-email {
  display: inline-block;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  top: -206px;
  left: 414px;
}

.info-tooltip-email:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.info-tooltip-email:hover::before {
  content: '';
  position: absolute;
  bottom: 115%; /* Position right above the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  z-index: 1;
}

.info-tooltip-number {
  display: inline-block;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  top: -274px;
  left: 784px;
}

.info-tooltip-number:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.info-tooltip-number:hover::before {
  content: '';
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  z-index: 1;
}

#show-icon, #hide-icon {
  position: absolute;
  right: -530px;
  top: 264px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0.8;
}