@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}

:root{
  --primary-color-background: #ffffff;
  --secondary-color-background: #6dce33;
  --third-color-text: #000000;
}

body{
  display: flex;
  height: 100%;
}

a{
  text-decoration: none;
}

ul li{
  list-style-type: none;

}

 #nav-group{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color-background);
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
}

 .skc {
  width: 50px;
  height: 50px;
  top: 0px;
  left: 12px;
  object-fit: cover;
  position: relative;
}

#nav-group h4{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 76px;
  margin-top: 4px;

}
 .Logoname-1 {
  width: 171px;
  top: 14px;
  left: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #950608;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

 .Logoname-2 {
  width: 171px;
  top: 34px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  text-align: center;
  position: relative;
  margin-left: 4px;
}

#nav-group ul li{
  position: absolute;
  display: flex;
  left: 246px;
  top:36px;
}
 .homepage {
  left: 123px;
  gap: 10px;
  padding: 10px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

 .Sports-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 13px;
  left: 252px;
  gap: 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

 .athlete-menu {
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(15.73, 235.88, 224.87, 0.5) 53.5%, rgba(0, 34, 255, 0.5) 100%);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 13px;
  gap: 10px;
  padding: 10px;
  position: relative;
  left: 474px;
  cursor: pointer;
  border-bottom: 4px solid black;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.homepage:hover,
.Sports-menu:hover{
  background: linear-gradient(180deg, rgba(26, 236, 226, 0.356) 53.5%, rgba(0, 34, 255, 0.329) 100%);
  font-weight: 800;
  color: #000000;
  border-radius: 8px;
  border-bottom: 4px solid black;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

 .notification-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 36px;
  right: 158px;
  cursor: pointer;
}

 .message-icon {
  position: relative;
  width: 24px;
  height: 22px;
  top: 12px;
  right: 106px;
  cursor: pointer;
}

 .user-login-icon {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 30px;
  right: 50px;
  cursor: pointer;
  border: solid;
  border-radius: 16px;
  opacity: 0.6;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 800;
}

.sub-menu-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  top: 70px;
  right: 40px;
  border-radius: 10px;
  background-color: #d3d3d3;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s;
  z-index: 10;
}

.sub-menu-wrap.openuser-menu {
  max-height: 220px;
}

.sub-menu-wrap .username{
  font-family: "Poppins", sans-serif;
  width: 50px;
  height: 50px;
  top: 16px;
  left: 16px;
  position: relative;
  border: solid;
  border-radius: 30px;
  text-align: center;
  padding-top: 14px;
  font-size: 18px;
  font-weight: 800;
}

.sub-menu-wrap .userinfo-fullname {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  top: -30px;
  left: 72px;
  text-align: left;
  position: relative;
}

.sub-menu-wrap .userinfo-id {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  top: -20px;
  left: 72px;
  position: relative;
}

.sub-menu-wrap .userinfo-type {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #003bff;
  font-size: 14px;
  top: -34px;
  left: 140px;
  position: relative;
}

.sub-menu {
  width: 220px;
  height: 220px;
}

.sub-menu hr {
  position: relative;
  height: 1px;
  width: 180px;
  left: 0px;
  bottom: 24px;
}

.user-info {
  position: relative;
  white-space: nowrap;
}

.sub-menu-link {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  bottom: 90px;
  width: 100%;
  height: 30px;
  top: -22px
}


.sub-menu-link .icon-container {
  position: relative;
  align-items: center;
  left: 24px;
}

.sub-menu-link p {
  position: relative;
  width: 84%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  padding-left: 36px;
  transition: transform 0.5s;
}

.sub-menu-link span {
  font-size: 22px;
  font-weight: 900;
  color: #000000;
  transition: transform 0.5s;
  position: relative;
  right: 22px;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 800;
}

#side-nav-group {
  display: flex;
  flex-direction: column;
  top: 70px;
  background-color: var(--secondary-color-background);
  left: 0;
  max-width: 66px;
  height: 100vh;
  padding-block: 8px;
  border-block-start: 2px dashed black;
  border-right: 1px solid rgb(197, 197, 197);
  box-sizing: border-box;
  position: fixed;
  transition: max-width 300ms ease-in-out;

  .sidebar-logo,
  .notogglemenu,
  .notogglemenu1,
  .backside,
  .Skcforms,
  .sub-menus span {
    visibility: hidden;
    opacity: 0;
  }

  .sidebar-logo{
    position: relative;
    left: -36px;
    top:8px;
    white-space: nowrap;
  }

  .notogglemenu{
    position: relative;
    left: -130px;
    top:0px;
  }

  .notogglemenu1{
    position: relative;
    left: -130px;
    top:0px;
  }
  
  .backside{
    position: absolute;
    top: 22px;
    left: -20px;
  }

  .sub-menus{
    position: relative;
    top:32px;
    left: 0px;
  }

  .Skcforms{
    position: relative;
    left: -144px;
    top:10px;
  }

  .dropdown-btn{
    position: absolute;
    left: 0px;
    top:92px;
    width: 100%;
    padding-inline: 32px;
    padding-block: 10px;
  }

  .menu-skcform{
    position: relative;
    left: -12px;
  }

  .skcform-dropdown {
    visibility: visible;
    position: absolute;
    transition: left 0.3s ease-in-out;
    left: 44px;
    top: 18px;
  }
  .sub-menus li {
    visibility: visible;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 16px;
    top: 12px;
    left: 0px;
  }

  .menu-personal{
    position: relative;
    left: 0px;
    top:0px;
  }
  .sub-menus .personal-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: .6em;
    left: 0px;
    top:4px;
  }

  .menu-members{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .member-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: 10px;
    left: 0px;
    top:4px;
  }

  .menu-varsity{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .varsity-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: 10px;
    left: 0px;
    top:4px;
  }

  .menu-athlete{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .athlete-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: 10px;
    left: 0px;
    top:4px;
  }
  .menu-application{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .application-datamenu{
    padding-inline: 22px;
    padding-block: 12px;
    border-radius: 10px;
    left: 0px;
    top:4px;
  }

  .menu-schedule{
    position: relative;
    top: 0px;
    left: 0px;
  }
  .menu-schedule-container{
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 22px;
    border-radius: 10px;
    top:-8px;
    left:0px;
  }
  .menu-report{
    position: relative;
    top: 0px;
    left: 20px;
  }
  .menu-report-container{
    position: relative;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-inline: 0px;
    left: 0px;
    top: 34px;
    border-radius: 10px;
  }
  #sidetoggle-btn{
    position: relative;
    padding-bottom: 8px;
    padding-top: 20px;
    padding-inline: 23px;
    border-radius: 10px;
    top:-8px;
    left:0px;
  }
  .menu-icon{
    visibility: visible;
    position: relative;
    left: 0px;
    top:0px;
  }
}

#side-nav-group.open {
  padding-inline: 20px;
  max-width: 274px;

  .notogglemenu,
  .notogglemenu1,
  .Skcforms,
  .skcform-dropdown,
  #sidetoggle-btn .backside,
  .sub-menus span {
    visibility: visible;
    opacity: 1;
  }

  #sidetoggle-btn{
    visibility: visible;
    position: relative;
    left: -300px;
    top:0px;
  }

  .sidebar-logo {
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: 0px;
    top:10px;
    white-space: nowrap;
  }

  #sidetoggle-btn .backside {
    visibility: visible;
    opacity: 1;
      position: absolute;
      padding-inline: 10px;
      padding-block: 10px;
      border-radius: .9em;
      top: 6px;
      left: 340px;
  }
  .sub-menus{
    position: relative;
    top: 32px;
    left: -20px;
    width: 274px;
  }
  .menu-schedule-container{
    position: relative;
    top:-8px;
    left:-20px;
    width: 274px;
  }
  .notogglemenu{
    position: absolute;
    left: 56px;
    top: 14px;
  }

  .menu-report-container{
    position: relative;
    top: 34px;
    left: -20px;
    width: 274px;
  }

  .notogglemenu1{
    position: relative;
    left: 20px;
    top: 0px;
  }

  .dropdown-btn{
    position: absolute;
    top:92px;
    left: 0px;
    padding-inline: 22px;
    padding-block: 10px;
  }
  .Skcforms{
    position: relative;
    top:0px;
    left: -2px;
  }
  .menu-skcform{
    position: relative;
    left: -2px;
  }
  .skcform-dropdown{
    position: absolute;
    left: 238px;
    transition: left 200ms ease-in-out;
    top: 18px;
  }
  .menu-personal{
    position: relative;
    left: 0px;
    top:0px;
  }
  
  .sub-menus .personal-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }

  .menu-members{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .member-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }

  .menu-varsity{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .varsity-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }

  .menu-athlete{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .athlete-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }
  .menu-application{
    position: relative;
    left: -2px;
    top:0px;
  }
  .sub-menus .application-datamenu{
    position: relative;
    left: 0px;
    top:4px;
  }
  .personal-span,
  .member-span,
  .varsity-span,
  .athlete-span,
  .application-span{
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: opacity 700ms ease-in-out;
  }
}

#side-nav-group.close {
  max-width: 66px;
  transition: max-width 400ms ease-in-out;
}

#side-nav-group>ul>li:first-child {
  display: flex;
  justify-content: flex-end;
  position: relative;

  .sidebar-logo {
    font-weight: 600;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding-left: .8em;
    padding-top: .1em;
    margin-bottom: 14px;
  }
  .menu-icon{
    position: relative;
    left: 0px;
    top:0px;
  }
}
  
.menu-schedule,
.menu-report,
.menu-athlete,
.menu-personal,
.menu-member,
.menu-varsity{
  width: 22px;
  height: 22px;
}

.menu-icon {
  width: 20px;
  height: 18px;
  position: relative;
}

.menu-skcform{
  width: 20px;
  height: 22px;
  stroke: black;
  stroke-width: 4;
  fill:#000000;
}


#side-nav-group a,
#side-nav-group .dropdown-btn, 
#side-nav-group .sideformicon {
  color: #000000;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
}

#side-nav-group img {
  flex-shrink: 1;
  fill: #000000;
}

#side-nav-group a span,
#side-nav-group .dropdown-btn span {
  flex-grow: 0;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#side-nav-group .sub-menus .personal-datamenu:hover,
#side-nav-group .sub-menus .member-datamenu:hover,
#side-nav-group .sub-menus .varsity-datamenu:hover,
#side-nav-group .sub-menus .athlete-datamenu:hover,
#side-nav-group .sub-menus .application-datamenu:hover,
#side-nav-group .menu-schedule-container:hover,
#sidetoggle-btn:hover,
#sidetoggle-btn .backside:hover,
#side-nav-group .dropdown-btn:hover,
#side-nav-group .menu-report-container:hover {
  font-weight: 800;
  background-color: #60af72;
  z-index: 1;
}

#side-nav-group .sub-menus {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid 300ms ease-in-out;
  >div {
    overflow: hidden;
  }
}

#side-nav-group .sub-menus.show {
  grid-template-rows: 1fr;
}

#side-nav-group .rotate img:last-child {
  rotate: 180deg;
}

#sidetoggle-btn {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 400ms ease;
}

#side-nav-group.open+main {
  margin-left: 90px;
  transition: margin-left 300ms ease-in-out;

  .athlete-profile {
    width: 80%;
    left: 0px;
  }
}

#side-nav-group.close+main {
  max-width: 66px;
  position: relative;
  margin-left: -120px;
  transition: margin-left 400ms ease-in-out;
}

main{
  position: relative;
  padding-left: min(20px, 7%);
  z-index: -1;
  flex-grow: 1; /* Allow main to grow and fill the space */
  margin-left: 0px; /* Adjust to match sidebar width */
  transition: margin-left 300ms ease-in-out; /* Smooth transition */
  height: 100vh;
  overflow-x: hidden;
}

.athlete-profile {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
  position: relative;
  top:90px;
  left: 20px;
}

.athlete-profile .div {
  overflow-x: hidden;
  width: 1238px;
  height: 520px;
  position: relative;
}

.athlete-profile .overlap {
  position: absolute;
  width: 1238px;
  height: 131px;
  top: 0;
  left: 0;
  background-color: #6dce33;
}

.athlete-profile .overlap-group {
  position: absolute;
  width: 236px;
  height: 99px;
  top: 15px;
  left: 974px;
}

.athlete-profile .rectangle {
  position: absolute;
  width: 236px;
  height: 97px;
  top: 2px;
  left: 0px;
  background-color: #d9d9d9;
  border-radius: 15px;
}

.athlete-profile .text-wrapper {
  position: absolute;
  top: 8px;
  left: 76px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .text-wrapper-2 {
  position: absolute;
  top: 60px;
  left: 14px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.athlete-profile .student-athlete {
  position: absolute;
  top: 18px;
  left: 30px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .span {
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
}

.athlete-profile .text-wrapper-3 {
  font-size: 28px;
}

.athlete-profile .overlap-2 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 237px;
  left: 0px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-4 {
  position: absolute;
  top: 91px;
  left: 43px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .arnistick {
  position: absolute;
  width: 57px;
  height: 73px;
  top: 19px;
  left: 31px;
  object-fit: cover;
}

.athlete-profile .overlap-3 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 237px;
  left: 152px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-5 {
  position: absolute;
  top: 91px;
  left: 30px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .overlap-4 {
  position: absolute;
  width: 105px;
  height: 77px;
  top: 8px;
  left: 8px;
}

.athlete-profile .discus-disc {
  position: absolute;
  width: 62px;
  height: 38px;
  top: 38px;
  left: 43px;
  object-fit: cover;
}

.athlete-profile .javelin-stick {
  position: absolute;
  width: 78px;
  height: 77px;
  top: 0;
  left: 4px;
  object-fit: cover;
}

.athlete-profile .shotput-ball {
  position: absolute;
  width: 41px;
  height: 41px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.athlete-profile .overlap-5 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 237px;
  left: 304px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-6 {
  position: absolute;
  top: 91px;
  left: 26px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .shuttlecock {
  position: absolute;
  width: 69px;
  height: 64px;
  top: 20px;
  left: 28px;
  object-fit: cover;
}

.athlete-profile .overlap-6 {
  position: absolute;
  width: 132px;
  height: 118px;
  top: 237px;
  left: 462px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-7 {
  position: absolute;
  top: 91px;
  left: 9px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .basketball-ball {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 20px;
  left: 29px;
  object-fit: cover;
}

.athlete-profile .overlap-7 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 237px;
  left: 632px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-8 {
  position: absolute;
  top: 91px;
  left: 24px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .baseball-ball {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 19px;
  left: 28px;
  object-fit: cover;
}

.athlete-profile .overlap-8 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 237px;
  left: 794px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-9 {
  position: absolute;
  top: 91px;
  left: 41px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .chess {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 19px;
  left: 28px;
  object-fit: cover;
}

.athlete-profile .overlap-9 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 237px;
  left: 956px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-10 {
  position: absolute;
  top: 91px;
  left: 14px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .takraw-ball {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 19px;
  left: 27px;
  object-fit: cover;
}

.athlete-profile .overlap-10 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 392px;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-11 {
  position: absolute;
  top: 92px;
  left: 22px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .takewondo {
  position: absolute;
  width: 44px;
  height: 66px;
  top: 21px;
  left: 32px;
  object-fit: cover;
}

.athlete-profile .overlap-11 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 392px;
  left: 152px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-12 {
  position: absolute;
  top: 92px;
  left: 36px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .soccerball {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 17px;
  left: 32px;
  object-fit: cover;
}

.athlete-profile .overlap-12 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 392px;
  left: 306px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-13 {
  position: absolute;
  top: 92px;
  left: 28px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .volleyballball {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 17px;
  left: 29px;
  object-fit: cover;
}

.athlete-profile .overlap-13 {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 237px;
  left: 1116px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-14 {
  position: absolute;
  top: 92px;
  left: 18px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.athlete-profile .table-tennes {
  position: absolute;
  width: 95px;
  height: 61px;
  top: 21px;
  left: 14px;
  object-fit: cover;
}

.athlete-profile .div-wrapper {
  position: absolute;
  width: 345px;
  height: 30px;
  top: 160px;
  left: 0px;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-15 {
  position: absolute;
  top: 2px;
  left: 22px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.athlete-profile .overlap-group-2 {
  position: absolute;
  width: 92px;
  height: 30px;
  top: 160px;
  left: 393px;
  background-color: #6dce33;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-16 {
  position: absolute;
  top: 2px;
  left: 28px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.athlete-profile .overlap-14 {
  position: absolute;
  width: 134px;
  height: 30px;
  top: 160px;
  left: 503px;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .text-wrapper-17 {
  position: absolute;
  top: 2px;
  left: 14px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.athlete-profile .overlap-15 {
  position: absolute;
  width: 84px;
  height: 30px;
  top: 160px;
  left: 748px;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .overlap-16 {
  position: absolute;
  width: 77px;
  height: 30px;
  top: 160px;
  left: 654px;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.athlete-profile .img {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 8833px;
  left: -3406px;
  object-fit: cover;
}

.athlete-profile .javelin-stick-2 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 8837px;
  left: -3512px;
  object-fit: cover;
}

